# URL do Web App do Google Apps Script (Versão 3 Ativa)
NEXT_PUBLIC_GOOGLE_SCRIPT_URL=https://script.google.com/macros/s/AKfycbzO1ft55IMIyOCwi1oi5yUbaXNpQ-UGEzkqVBP0iWYADgoXDcx_xrmup7jkdu4HSB8wXA/exec
